DOMAIN
(Xs, Xe, Xn) -4.0 4.0 32
(Ys, Ye, Yn) -2.0 2.0 32
(Zs, Ze, Zn) -2.0 2.0 32

GPU DOMAIN DECOMPOSITION
DEV RANGE 3 3
n 1
(Xs, Xe, Xn) -4.0 4.0 32
(Ys, Ye, Yn) -2.0 2.0 32
(Zs, Ze, Zn) -2.0 2.0 32
E -1 W -1 N -1 S -1 T -1 B -1

PHYSICAL PARAMETERS
rho_f 1
nu 1

SIMULATION PARAMETERS
duration 1.46
CFL 0.5
pp_max_iter 1000
pp_residual 1e-6

BOUNDARY CONDITIONS
PRESSURE
bc.pW NEUMANN
bc.pE NEUMANN
bc.pS NEUMANN
bc.pN NEUMANN
bc.pB NEUMANN
bc.pT NEUMANN
X-VELOCITY
bc.uW DIRICHLET 1.0 0.0
bc.uE NEUMANN
bc.uS NEUMANN
bc.uN NEUMANN
bc.uB DIRICHLET 0.0 0.0
bc.uT DIRICHLET 0.0 0.0
Y-VELOCITY
bc.vW NEUMANN
bc.vE NEUMANN
bc.vS NEUMANN
bc.vN NEUMANN
bc.vB DIRICHLET 0.0 0.0 
bc.vT DIRICHLET 0.0 0.0 
Z-VELOCITY
bc.wW NEUMANN
bc.wE NEUMANN
bc.wS NEUMANN
bc.wN NEUMANN
bc.wB DIRICHLET 0.0 0.0 
bc.wT DIRICHLET 0.0 0.0 

INITIAL CONDITION
init_cond POISEUILLE

SOLVABILITY ENFORCEMENT PLANE
out_plane EAST

SIMULATION DRIVING CONDITIONS
gradP.x 0. 0.
gradP.y 0. 0.
gradP.z 0. 0.
g.x 0. 0.
g.y 0. 0.
g.z 0. 0.


