n 1

PHYSICAL PARAMETERS
DIFF 0.00081
DIFF_eq 1

BOUNDARY CONDITIONS
SCALAR
sc_bc.scW PERIODIC
sc_bc.scE PERIODIC
sc_bc.scS PERIODIC
sc_bc.scN PERIODIC
sc_bc.scB NEUMANN 
sc_bc.scT NEUMANN

INITIAL CONDITION
sc_init_cond QUIESCENT
sc_soluble_proportion 0.2

EQUILIBRIUM CONCENTRATION
sc_eq 2.13

TWO WAY FORCING
lpt_twoway -1
sc_twoway 1
n2 4
n3 8
